    <app-sidenav></app-sidenav>
    <br>
    <br>
    <br>
    <p-toast [showTransitionOptions]="'4ms'"></p-toast>
   
    <br>


   
    <p-card header="" [style]="{  width: '100%',
    'font-size': '20px',
    'text-align': 'center',
    color: 'green',
    'margin-left':'5.5%',
    'margin-right':'5.5%',
    'margin-top':'2%'
    }">
        <p-toast> </p-toast>
        <div class="horizontal_scroll_div">
            <div class="scroll_table_div b">
                <div class="table_section">
                    <p-table #dt [columns]="cols" [value]="data" [paginator]="true" [rows]="10"
                     [autoLayout]="true" >

                        <ng-template pTemplate="caption">
                               
                                <button type="button" pButton label="Export" (click)="dt.exportCSV()" style="float:left"></button>
                            <div class="ui-lg-offset-2 ui-lg-8">
                                <h2 style="font-weight:bold;color:rgb(22, 92, 124);">SEARCH LIST</h2>
                                <!-- <hr style="background-color:rgb(22, 92, 124);height:3px;" /> -->
                            </div>
                            <div style="text-align: left">
                                <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                                <input type="text" pInputText size="50" placeholder="Global Filter"
                                    (input)="dt.filterGlobal($event.target.value, 'contains')"  />
                            </div>
                        </ng-template>
                        <ng-template pTemplate="header" let-columns>
                                <tr>
                                        <th colspan="9">CONTACT DETAILS</th>
                                        <th colspan="3">STATUS</th>
                                        <th colspan="3">SOURCE</th>
                                        <th colspan="8">OWNER</th>
                                        <th colspan="8">TENANT</th>
                                    </tr>
                            <tr>
                                <th  *ngFor="let col of columns" style="text-align: center;word-wrap:normal;font-size:12px ">
                                    {{ col.header }}
                                </th>
                                <th style="text-align: center;">
                                    Actions
                                </th>
                            </tr>

                        </ng-template>

                        <ng-template pTemplate="body" let-rowData let-columns="columns">
                            <tr [pSelectableRow]="rowData">
                                <td *ngFor="let col of columns" >
                                    {{ rowData[col.field] }}
                                </td>
                                <td>
                                    <button pButton [ngStyle]="{width:'100%',margin:'8px'}" type="button" label="Delete"
                                        class="ui-button-danger"
                                        (click)="deletedatabyid(rowData['id'])"></button>
                                    <button pButton [ngStyle]="{width:'100%',margin:'8px','text-align':'center'}"
                                        type="button" label="Edit" class="ui-button-success"
                                        (click)="updatebyid(rowData['id'])"></button>
                                    <!-- <button pButton type="button" (click)="deletePanelByID(rowData['id'])" class="ui-button-danger" style="width:20%;height: 50px; margin-left: 40%; "> -->

                                    <!-- </button> -->
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>
        </div>
    </p-card>