<app-sidenav></app-sidenav>
<br />
<br />
<br />
<br />


<p-card header=""
  [style]="{
        width: '90%',
        'font-size': '20px',
        'text-align': 'center',
        color: 'green',
        'margin-left': '5.5%',
        'margin-right': '5.5%'
      }">




  <div class="row">


    <div class="col-sm-5"></div>


    <h1 style="font-weight:bold;color: rgb(22, 92, 124);text-align: left ">
      USER LOGS LIST
      <!-- <hr style="background-color:rgb(22, 92, 124);height:3px;" /> -->
      
    </h1>



    <div class="col-sm-12 table-responsive">
      <p-table [columns]="cols"
        [responsive]="true"
        [paginator]="true"
        [rows]="10"
        [totalRecords]="totalRecords"
        [value]="activityLogs"
        [scrollable]="true"
        [style]="{width:'100%'}">
        <ng-template pTemplate="colgroup"
          let-columns>
          <colgroup>
            <col *ngFor="let col of columns"
              style="width:180px">
          </colgroup>
        </ng-template>
        <ng-template pTemplate="header"
          let-columns>
          <tr>
            <th *ngFor="let col of columns">
              {{col.header}}
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body"
          let-rowData
          let-columns="columns">
          <tr>
            <td *ngFor="let col of columns">
              {{rowData[col.field]}}
            </td>
          </tr>
        </ng-template>
      </p-table>

    </div>
  </div>

</p-card>
