
<div class="area"></div>
<nav class="main-menu">
  <ul>
    <div style="margin:20px 0px 10px 5px">
      <li [routerLink]="'/scearchtable'"
        style="cursor: pointer;">
        <a>
          <div style="width: 63px">
            <i class="pi pi-home" style="font-size: 3em; color: darkgrey"></i>
          </div>
          <span class="nav-text">
            Home
          </span>
        </a>
      </li>
    </div>

    <div *ngIf="userType=='ADMIN'"
     
      style="margin: 20px 0px 10px 5px;">
      <li (click)="routeToUser()" style="cursor: pointer;">
        <a>
          <div style="width: 63px">
            <i class="pi pi-user" style="font-size: 3em; color: darkgrey"></i>
          </div>
          <span class="nav-text">
            User Management
          </span>
        </a>
      </li>
    </div>

    <div style="margin: 20px 0px 10px 5px">
      <li (click)="gotosearch()" style="cursor: pointer;">
        <a>
          <div style="width: 63px">
            <i class="pi pi-file" style="font-size: 3em; color: darkgrey"></i>
          </div>
          <span class="nav-text">
            Search Table
          </span>
        </a>
      </li>
    </div>

    <div 
      style="margin: 20px 0px 10px 5px">
      <li [routerLink]="'/form'" style="cursor: pointer;">
        <a>
          <div style="width: 63px">
            <i
              class="pi pi-microsoft"
              style="font-size: 3em; color: darkgrey"
            ></i>
          </div>
          <span class="nav-text">
           Client Form
          </span>
        </a>
      </li>
    </div>

    <!-- <div style="margin: 20px 0px 10px 5px">
      <li (click)="routetoproductregistrationlist()" style="cursor: pointer;">
        <a>
          <div style="width: 63px">
            <i
              class="pi pi-download"
              style="font-size: 3em; color: darkgrey"
            ></i>
          </div>
          <span class="nav-text">
            Register Product
          </span>
        </a>
      </li>
    </div> -->

    <!-- <div style="margin: 20px 0px 10px 5px">
      <li (click)="routetoproductregistrationlist()" style="cursor: pointer;">
        <a>
          <div style="width: 63px">
            <i
              class="pi pi-info-circle"
              style="font-size: 3em; color: darkgrey"
            ></i>
          </div>
          <span class="nav-text">
            Register Product
          </span>
        </a>
      </li>
    </div> -->

    <div *ngIf="userType=='ADMIN'"
      style="margin: 20px 0px 10px 5px">
      <li [routerLink]="'/userLogs'"
        style="cursor: pointer;">
        <a>
          <div style="width: 63px">
            <i
              class="pi pi-cog"
              style="font-size: 3em; color: darkgrey"
            ></i>
          </div>
          <span class="nav-text">
            User logs
          </span>
        </a>
      </li>
    </div>

    <div style="margin: 120px 0px 10px 5px">
      <li (click)="Logout()" style="cursor: pointer;">
        <a>
          <div style="width: 63px">
            <i
              class="pi pi-power-off"
              style="font-size: 3em; color: darkgrey"
            ></i>
          </div>
          <span class="nav-text">
            Logout
          </span>
        </a>
      </li>
    </div>
  </ul>
</nav>
