<div class="ui-g-12">
  <div class="ui-lg-5 ui-md-5 ui-sm-12">
    <button
      pButton
      type="button"
      class="success"
      style="width:45%;margin-left:180% "
      label="ADD"
      [routerLink]="['/form']"
    ></button>
  </div>
</div>
<p-toast></p-toast>
<p-card
  header="List"
  [style]="{
    width: '100%',
    'font-size': '26px',
    'text-align': 'center',
    color: '#007ad9'
  }"
>
  <hr />

  <p-table #dt [columns]="cols" [value]="data" [paginator]="true" [rows]="10">
    <ng-template pTemplate="caption">
      <div style="text-align: right">
        <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
        <input
          type="text"
          pInputText
          size="50"
          placeholder="Global Filter"
          (input)="dt.filterGlobal($event.target.value, 'contains')"
          style="width:auto"
        />
      </div>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngFor="let col of columns">
          {{ col.header }}
        </th>
        <th style="text-align: center;">
          Actions
        </th>
      </tr>
      <div *ngIf="showLoading" style="margin-left: 325%;">
        <!--<p-progressSpinner></p-progressSpinner>-->
        <h2 style="color: black">Getting Data...</h2>
      </div>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr [pSelectableRow]="rowData">
        <td *ngFor="let col of columns">
          {{ rowData[col.field] }}
        </td>
        <td>
          <button
            pButton
            type="button"
            label="EDIT"
            (click)="editData(rowData['id'])"
            class="ui-button-success"
            [ngStyle]="{ width: '80px', margin: '8px' }"
          ></button>

          <button
            pButton
            [ngStyle]="{ width: '80px', margin: '8px' }"
            type="button"
            label="DELETE"
            (click)="onDelete(rowData['id'])"
            class="ui-button-danger"
          ></button>
          <button
            pButton
            [ngStyle]="{ width: '80px', margin: '8px' }"
            type="button"
            label="Download"
            class="ui-button-danger"
          ></button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</p-card>
